ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTR{idVendor}=="0c45", ATTR{idProduct}=="652f", ATTR{power/wakeup}="disabled", ATTR{driver/1-1.1.3/power/wakeup}="disabled"
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTR{idVendor}=="258a", ATTR{idProduct}=="1007", ATTR{power/wakeup}="disabled", ATTR{driver/1-1.1.4.4.4/power/wakeup}="disabled"
